<style>
    #grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #submit{
        float: right;
    }
</style>


<form action="/orders/orderConfirmForm" method="POST">

    <fieldset>
        <legend>Gamybos užsakymas</legend>

        <div id="grid-container">
            <div id="left">
                <label for="pottery-types">Keramikos dirbinio tipas:</label><br>
                <select id="pottery-types" name="potteryType">
                    <% if(typeof potteryTypes !='undefined' ) { %>
                        <% potteryTypes.forEach(function(type) { %>
                            <option value="<%=type.id%>"><%=type.name%></option>
                        <% }) %>
                    <% } %>
                </select><br><br>

                <label for="clay">Pasirinkti molį:</label><br>
                <select id="clay" name="clay">
                    <% if(typeof clays !='undefined' ) { %>
                        <% clays.forEach(function(clay) { %>
                            <option value="<%=clay.id%>"><%=clay.name%></option>
                        <% }) %>
                    <% } %>
                </select><br><br>

                <label for="glaze">Pasirinkti glazūrą:</label><br>
                <select id="glaze" name="glaze">
                    <% if(typeof glazes !='undefined' ) { %>
                        <% glazes.forEach(function(glaze) { %>
                            <option value="<%=glaze.id%>"><%=glaze.name%></option>
                        <% }) %>
                    <% } %>
                </select><br><br>
            </div>

            <div id="right">
                <label for="comment">Komentaras:</label>
                <textarea id="comment" name="comment" rows="4" cols="100"></textarea>
            </div>
        </div>
        <input type="number" name="orderType" value="1" hidden>
        <button type="submit" id="submit">pateikti</button>
    </fieldset>

</form>