<script src="/static/javascripts/jquery.min.js"></script>
<div class="container" style="padding: 20px 0 20px 0; margin-left: 10px; margin-right: 10px;" >

    <div class="shadow p-3 mb-5 bg-body rounded" style="width: 90%;">

        <p>
            
            <strong>užsakymo id: </strong> <%=orderId%> | <strong>Būsena: </strong> <span <% if (state == 'naujas') { %> style="color: green;" <%} else if (state == 'įvykdytas') { %>style="color: orange;"<% } else if(state == 'atšauktas') { %>style="color: red;"<% } %>><b><%=state%></b></span>
        </p>

        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row g-0 align-items-center" >
            <div class="col-md-4">
                <div class="my-img-container" style="width: 320px; height: 240px">
                    <img src="<%=potteryOrder.photo%>" class="img-responsive" width="320px" height="240px">
                </div>
               
            </div>
            <div class="col-md-8">
                <div class="card-body">
                   <p><strong>Dirbinio tipas:</strong> <%= potteryOrder.potteryType %> </p>
                   <p><strong>Kiekis:</strong> <%= potteryOrder.amount %> </p>
                   <textarea readonly rows="4" cols="80"><%=potteryOrder.comment%></textarea>
                </div>
            </div>
            
            </div>
        </div>

        <% if(state == 'patvirtintas') { %>
            <h5>Medžiagos</h5>
            <ul>
                <% orderMaterials.forEach(function(orderMaterial) {  %> 
                    <li style="margin-bottom: 5px;">
                    <%=orderMaterial.id%> <%=orderMaterial.name%> | kiekis - <%=orderMaterial.materialAmount%> <%=orderMaterial.units%>
                    <input type="number" value="<%=orderMaterial.orderMaterialAmount%>" readonly> 
        
                    </li>
                <% }) %>
            </ul>
        <% }else{ %>
            <form action="/orders/approveOrder" method="POST">
                <h5>medžiagos</h5>
                <button id="add" type="button" class="btn btn-secondary">Pridėti</button>
                <ul id="materials_list">
                    <% if(typeof selectedMaterials != 'undefined') { %>
                        <% for(let i = 0, length = selectedMaterials.length; i < length; i++) {  %> 
                            <li style="margin-bottom: 5px;">
                                <select name="materials[]">
                                    <% materials.forEach(function(material) {  %> 
                                        <option value="<%=material.id%>" <% if(material.id == selectedMaterials[i]) { %> selected <% } %> ><%=material.name%> | kiekis - <%=material.amount%> <%=material.units%></option> 
                                    <% }) %>
                                </select>
                                <input type="number" name="amounts[]" step="0.01" value="<%=amounts[i]%>" required> 
                                <button id="sub" type="button" class="remove btn btn-danger" >Pašalinti</button><br>
                            </li>
                        
                        <% } %> 
                    <% } %> 
                    
                </ul>
                <input type="number" name="potteryAmount" value="<%=potteryOrder.amount%>" hidden>
                <input type="number" name="potteryOrderId" value="<%=potteryOrder.id%>" hidden>
                <input type="number" name="orderId" value="<%=orderId%>" hidden>

                <% if(typeof errorsList != 'undefined') { %>
                    <% errorsList.forEach(function(error) {  %> 
                        <div class="alert alert-danger" role="alert">
                            <%= error.message %>  
                          </div>
                    <% }) %>
                <% } %> 

                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success" onclick="return confirm('ar tikrai patvirtinti šį užsakymą ?')">Patvirtinti</button>
                        <button type="button" class="btn btn-danger denyBtn" data-id="<%=orderId%>">Atmesti</button>
                    </div>
                </div>
               
            </form>
        <% } %> 

     

    </div>
</div>

<template id="material_template">
    <li style="margin-bottom: 5px;">
    <select name="materials[]">
        <% materials.forEach(function(material) {  %> 
            <option value="<%=material.id%>"><%=material.name%> | kiekis - <%=material.amount%> <%=material.units%></option> 
        <% }) %>
    </select>
    <input type="number" name="amounts[]" step="0.01" required> 
    <button id="sub" type="button" class="remove btn btn-danger" >Pašalinti</button><br>
    </li>
</template>

<script>
    $(document).ready(function () {
       
        $( ".denyBtn" ).click(function() {
            if(confirm('ar tikrai atmesti šį užsakymą ?')){
                var id =  $( this ).data("id");
                $.get(`/orders/updateState?id=${id}&state=3`).always(function(){
                    window.location.replace(`/orders/orderInfo?orderId=${id}&orderType=1&orderState=atšauktas`)
                    })
            }
        });  

            var materials = $('#materials_list');

            var materialTemplate = $('#material_template').html();

            function addEntry()
            {
                materials.append(materialTemplate);
            }

            $('#add').on('click', function(){
                addEntry();
            })

            materials.delegate( '.remove' ,'click', function(){
                    
                var $li = $(this).closest('li');
                $li.remove();
                    
            });

    });
</script>