<script src="/static/javascripts/jquery.min.js"></script>
<style>
 .inputRow{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
    margin-bottom: 12px;
 }

 #inputRows{
     width: 450px;
     margin-left: auto;
     margin-right: auto;
 }

 .grid-item{
     padding-left: 5px;
     padding-right: 5px;
 }
</style>

<div class="container" style="padding: 20px 0 20px 0; margin-left: 10px; margin-right: 10px;" >
    <div class="shadow p-3 mb-5 bg-body rounded scroll">
        <% if(typeof materials != 'undefined') { %>
            <% if (materials.length == 0) { %>
                    <div class="alert alert-info" role="alert">
                        visų medžiagų užtenka
                    </div>
            <% } %>
                <form method="POST" action="/inventory/submitMaterialsOrder" onsubmit="return submitForm(this);">

                 <div id="inputRows">
                    <div class="inputRow">
                        <div class="grid-item"><b>Id</b></div>
                        <div class="grid-item"><b>pavadinimas</b></div>
                        <div class="grid-item"><b>likęs kiekis</b></div>
                        <div class="grid-item"><b>užsakymo kiekis</b></div>
                        <div class="grid-item"></div>
                    </div>
                    <hr>
                        <% materials.forEach(function(material) {  %> 
                                <div class="inputRow">
                                    <div class="grid-item"><%=material.id%>
                                        <input type="number" name="id[]" value="<%=material.id%>" hidden>
                                        <input type="number" name="price[]" value="<%=material.price%>" hidden>
                                        <input type="text" name="units[]" value="<%=material.units%>" hidden>
                                        <input type="text" name="names[]" value="<%=material.name%>" hidden>
                                    </div>
                                    <div class="grid-item"><%= material.name %></div>
                                    <div class="grid-item"><%= material.amount %> <%= material.units %></div>
                                    <div class="grid-item"><input type="number" name="orderAmount[]" min="1" max="9999" step="0.01" required></div>
                                    <div class="grid-item"><button type="button" class="remove btn btn-danger btn-sm" >X</button></div>
                                </div>
                            
                        <% }) %>
                    
                   
                </div> 
                <div id="buttons" style="width: 450px; margin: 0 auto 0 auto;">
                    <div class="row">
                        <div class="col-4">
                            <select class="form-select" id="selectedMaterial">
                                <% allMaterials.forEach(function(material) {  %> 
                                    <option value="<%=material.id%>"><%=material.name%></option> 
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-success" onclick="addRow()" >+</button>
                        </div>
                    </div>
                    
                    <br>
                    <div style="height: 50px;" class="row justify-content-evenly">
                        <div class="col-3">
                            <a href="/inventory/manageMaterials"><button class="btn btn-primary" type="button" style="float: right;" >Atšaukti</button></a>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-3">
                            <button class="btn btn-primary" style="float: right;" >Pateikti</button>  
                        </div>
                    </div>
                </div>
                </form>
            
        <% } %>
    </div>
</div>

<script>
    $(document).ready(function () {
        var $rows = $("#inputRows");

        $rows.delegate( '.remove' ,'click', function(){
            var $row = $(this).parent('div').parent('div');
            $row.remove();
        });
    })

    function submitForm() {
    return confirm('patvirtinti užsakymą.');
    }

    function addRow(){

        let selectedMaterial = document.getElementById("selectedMaterial");
        let id = selectedMaterial.value;
        let inputRows = document.getElementById("inputRows");

        $.ajax({
            type: 'GET',
            dataType: "json",
            url: `/inventory/getMaterial/${id}`,
            success: function (data) {
                console.log(data);
                let html = `
                    <div class="inputRow">
                        <div class="grid-item">${data.id}
                            <input type="number" name="id[]" value="${data.id}" hidden>
                            <input type="number" name="price[]" value="${data.price}" hidden>
                            <input type="text" name="units[]" value="${data.units}" hidden>
                            <input type="text" name="names[]" value="${data.name}" hidden>
                        </div>
                        <div class="grid-item">${data.name}</div>
                        <div class="grid-item">${data.amount} ${data.units}</div>
                        <div class="grid-item"><input type="number" name="orderAmount[]" min="1" max="9999" step="0.01" required></div>
                        <div class="grid-item"><button type="button" class="remove btn btn-danger btn-sm" >X</button></div>
                    </div>
                    `;
                inputRows.innerHTML = inputRows.innerHTML + html;
            },
            error: function () {
                alert('error loading data');
            }
        });
    }
</script>